<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
 Contact me on my web site:
 <a href="http://tangerine.wanport.net">Tangerine blog</a>.
 Or
 <a href="mailto:greeshaa@sibmail.com?subject=My ROR test">e-mail</a>.
</p>